body{
    color: rgb(56, 56, 56); 
    background: linear-gradient(90deg, rgb(150, 150, 150) 0%, rgb(210, 210, 210) 20%, rgb(245, 245, 245) 50%, rgb(210, 210, 210) 80%, rgb(150, 150, 150) 100%);
}

.grid-container {
    display: grid;
    grid-template-columns: 0.3fr 2.3fr 1.2fr 0.3fr;
    grid-template-rows: 0.9fr 1.1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". ppal lat ."
      ". formacion lat ."
      ". formacion lat .";
  }
  
  .formacion {
    display: grid;
    grid-template-columns: 0.3fr 1.7fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "espacio titulo titulo"
      "espacio titulo titulo";
    grid-area: formacion;
    background-color: white;
  }
  
  .lat {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3275fr 1.7fr;
    gap: 0px 0px;
    grid-template-areas:
      ". . ."
      "fotoetc fotoetc fotoetc";
    grid-area: lat;
  }
  
  .fotoetc { 
    grid-area: fotoetc;
    background-color: rgb(136, 136, 136); 
  }
  
  .ppal {
    display: grid;
    grid-template-columns: 0.3fr 1.7fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". . ."
      "espacio titulo titulo";
    grid-area: ppal;
  }
  
  .espacio {
    grid-area: espacio;
    background-color: white;
  }
  .titulo {
    grid-area: titulo;
    background-color: white;
  }
  

  #titulo {
    color: orange;
    font-family: Arial, Helvetica, sans-serif, monospace;
}

#nombre {
    color: rgb(168, 168, 168);
    font-family: Arial, Helvetica, sans-serif, monospace;
    font-weight: bold;
    font-size: 500%;
    text-align: center;
}

#carrera {
    color: rgb(212, 103, 0);
    font-family: Arial, Helvetica, sans-serif, monospace;
    font-weight: bold;
    font-size: 300%;
    text-align: center;
}

.main {
    color: rgb(49, 49, 49);
    font-family: Arial, Helvetica, sans-serif, monospace;
    font-weight: bold;
  }

  .main2 {
    color: rgb(155, 155, 155);
    font-family: Arial, Helvetica, sans-serif, monospace;
    font-weight: bold;
  }

  .main3 {
    color: rgb(49, 49, 49);
    font-family: Arial, Helvetica, sans-serif, monospace;
    font-weight: bold;
    text-align: center;
  }

  .main4 {
    color: rgb(221, 221, 221);
    font-family: Arial, Helvetica, sans-serif, monospace;
    font-weight: bold;
    text-align: center;
  }